/* Alun Ward, for Eye Gallery */

/* alun@eyedivision.co.uk */

html { 
	height:100%;
	margin:0px;
	padding:0px;
}

img {
	margin: 10px;
}
body {
	position:relative;
	font-family: "Century Gothic", verdana, helvetica, arial, sans-serif;
	font-size:1em;
	line-height:2em;
	margin:0px;
	color:#333;
	text-align:center;
	height:100%;
	padding:0;
	width: 100%;
	background-color:#FFF;
}


#container {	
	line-height:130%;
	text-align:center;
	margin: 0px auto;
	padding:5px;
	width:950px;
	background-color:#FFF;
	border: 1px solid #CCC;
}

#left {
	float:left;
	width:18%;
}

#content {	
	padding:0px;
	margin:0px auto;	
	line-height:130%;
	font-size:small;
	text-align:left;
	background-color:#CCC;
}

a {  border:none; font-weight:bold; }
a:link { color:#333; text-decoration: none; }
a:visited { color:#000;  text-decoration: none;  }
a:hover { color:#FFF;  text-decoration: none; }
a:active { color:#FFF; text-decoration: none; }

a:link.selected { color:#FFFFFF; }

#hpPicture {
	margin:8px auto;
	text-align:center;
}

/* start navigation tabs */
#topnav {
	text-align:center;
	margin:0 auto;
}
#topnav ul {
	margin-left:0;
	padding:3px 0;
	border-bottom: 1px solid #CCC;
	font: bold 12px Verdana, sans-serif;
}
#topnav ul li {
	list-style: none;
	margin:0;
	display:inline;
}
#topnav ul li a {
	padding: 3px 0.5em;
	margin-left: 0px;
	border: 1px solid #CCC;
	border-bottom: none;
	background: #EBEBEB;
	text-decoration:none;
}
#topnav ul li a:link {
	color:#000;
}
#topnav ul li a:visited {
	color:#666;
}
#topnav ul li a:link:hover, #topnav ul li a:visited:hover {
	color:#000;
	background:#CCC;
	border-color:#CCC;
}
#topnav ul li a#current {
	background:white;
	border-bottom:1px solid white;
	color: black;
}
#topnav .subnav ul li a {
	background: transparent;
}
#topnav .subnav li a.selected {
	color: black;
	background: #EBEBEB;
}
.pnext {
	text-align: center;
	padding: 16px 0;
}
/* end navigation tabs */

#left {
	width: 200px;
	float: left;
	padding-top:70px;
}
#right {
	margin-left: 210px;
	text-align:center;
	color:#333;
}

b, strong { font-weight: 900; }

li, ul, ol {  
	font-style: normal; 
	font-weight: normal; 
}

.small { font-size: 10px; }

#player1 {
	margin:10px auto;
	text-align:center;
}


#credits {
	clear:both;
	font-size:x-small;
	text-align: center;
	padding-top:25px;
}
#credits A IMG, #credits A:link {
	border:none;
}

#page {
	margin: 0 auto;
	padding: 0 2em;

}
.bigpic {
	text-align: center;
}
/* styled header logo */
#header {
	width:950px;
	height:74px;
	text-align: center; 
	background-color:#999; 
	color: #FFF;
	margin: 0 auto;
	padding:0;
}
#logo {
	width: auto;
	margin: 0 auto;
}
h1 a {
	display: block;	
	width:950px;
	height:74px;
	/*background: transparent url("/images/logo.jpg") no-repeat 0% 0%;*/
}
h1 a:hover {
	background: transparent url("../images/logo.jpg") no-repeat 0% 0%;
	text-decoration: none;
}
#logo a:link, #logo a:visited, #logo a:hover, #logo a:active {
	border: none;
}

h1	{
	text-indent: -9999px;
	padding:0px;
	margin:0px;
	border: none;
	background: transparent url("../images/logo.jpg") no-repeat top left;	
}

/* end header */

/* image layout */

#images {
	text-align:center;
	margin-left: auto;
	margin-right:auto;
/*	width:50em; */
}
#images img, #randomImages img {
	border:none;
}


#images A:link, #images A:hover, #images A:visited, #header A:link, #header A:hover, #header A:visited, #footer A:link, #footer A:hover {
	border-bottom:none;
	text-decoration:none;
}

.thumbs {
	float:left;
	margin:10px;
}

/* image table technique -- see http://www.brunildo.org/test/ImgThumbIBL2.html */
/* gallery container */
.gallery {
	text-align: center;    /* centers inline paragraphs */
	margin: 1em 5%;
	background-color: #fff;
	padding: .5em;
}
.gallery a {
	text-decoration: none;
}
.gallery a img {
	border-width: 1px;
	vertical-align: middle;
}

/* outer container for each image/caption pair */
.gallery p {
	display: inline;
}

/* inner container for each image/caption pair */
.gallery a {
	display: table-cell;   /* default, for gecko & Opera6- */
	margin: .5em;
	padding: 5px;
	vertical-align: top;   /* aligns the img/caption container */
	width: 8em;            /* adjusts with text size */
	min-width: 170px;      /* not always honored, but that's OK */
/*	border: 1px solid #ccc; */
}

/* image container, sets height so image can be vertically centered and the caption starts in the same vertical position regardless of image height, except WinIE does not apply line-height to images. oh well, most other browsers do... */
.gallery span {
	display: block;        /* fill container width, force a line break */
	height: 130px;         /* a bit larger than highest img */
	line-height: 150px;    /* same value as height */
	text-align: center;
/*	border: 1px dashed #f00; /* uncomment to show */
}
/* caption container, sets height (for 2 lines) so each outlined image/caption pair is the same height (except in WinIE) */
.gallery em {
	display: block;
	height: 3em;         /* makes each box a consistent height */
	padding: 15px 5px 0 5px;
	text-align: center;
	font-style: normal;
	line-height: 120%;     /* standard spacing */
/*	border: 1px dashed #00f; /* uncomment to show */
}

/* Owen hack, hides from WinIE, Opera versions 6- & some KHTML */
head:first-child+body #container #content .gallery a {
	display: table-cell;   /* gecko & Opera6- */
	display: inline-table; /* Safari & some other browsers */
	display: inline-block; /* WinIE & some other browsers */
}

/* star-html hack to show <a> rule(s) just to IE (Win and Mac) -- but NOT in IE 7 doh! */
* html #container #content .gallery a {
	display: table-cell;   /* gecko & Opera6- */
	display: inline-table; /* Safari & some other browsers */
	display: inline-block; /* WinIE & some other browsers */
}
/* image is not clickable in WinIE with display:block :( \*/
* html #container #content .gallery span {
	display: inline;
}
.gallery a:hover em {
	cursor: hand; /* otherwise cursor doesn't change over block <i> */
} /* end WinIE hacks */

/* end hacks */
/* end image table technique */

#images .pagination {
	clear:both;
	margin:5px;
	color:#999;
}

#images .pagination a, #images .pagination a:link. {
	color:#999;
}
.grey {
	color:#666;
}

/* form stuff - see http://www.websiteoptimization.com/speed/tweak/forms/ */

form { 
	/*font-size : 1em; 
	text-align:right;*/
	margin:25px auto;
	/*width: 80%;*/
}

select {
	/*width: 200px;*/
	text-align: left;	
}

fieldset { 
	padding : 10px;
	margin: 0px;
	border-color:#CCC;
	border-style: solid;
	border-width: 1px;
} 
legend {
	color:#000;
}
form br {
	clear: left;
}

label { 	
	display : block; 
	float: left;
	width: 150px;
	padding: 0px;
	text-align:right;
	margin : 5px 0px 0px; 
}

textarea { 
	overflow: auto; 
	border:#FF9900 1px solid;
	background:#FFF;
}
input {
	border:#FF9900 1px solid;
	background:#FFF;
}
input:focus {
	background:#FFFFCC;
}
textarea:focus {
	background:#FFFFCC;
}
/* end form stuff */

/* paypal form */
form.cart {
	display:block;
	float:left;
	margin:0;
	padding:0 1em;
}
#topnav form.cart {
	display:inline-block;
	float:none; padding:0;
}
#salesfooter {
	clear:both;
	padding-top:2em;
	text-align:center;
}
/* submit button 
-- see http://webdesignerwall.com/tutorials/css3-gradient-buttons
*/
.button {
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	margin: 5px 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
/* red button */
.red {
	color: #FAE7E9;
	border: solid 1px #B73948;
	background: #DA5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#F16C7C), to(#C70541));
	background: -moz-linear-gradient(top, #F16C7C, #C70541);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#c70541');
}
.red:hover {
	background: #BA4B58;
	background: -webkit-gradient(linear, left top, left bottom, from(#CF5D6A), to(#A53845));
	background: -moz-linear-gradient(top, #CF5D6A, #A53845);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.red:active {
	color: #DCA4AB;
	background: -webkit-gradient(linear, left top, left bottom, from(#BF404F), to(#F16C7C));
	background: -moz-linear-gradient(top, #BF404F, #F16C7C);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}
/* gray button (US!) */
.gray {
	color: #E9E9E9;
	border: solid 1px #555;
	background: #6E6E6E;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top, #888, #575757);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4B4B4B));
	background: -moz-linear-gradient(top, #757575, #4B4B4B);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #AFAFAF;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top, #575757, #888);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

.details {
	text-align:center; 
}

/* SOCIAL */
#logo {
	position: relative;
}
.social.right {
	position: absolute;
	right: 0;
	top: 10px;
}