---
layout: home
carousel:
  - image:
    caption:
    link:
  - image:
    caption:
    link:
  - image:
    caption:
    link:
  - image:
    caption:
    link:
  - image:
    caption:
    link:
  - image:
    caption:
    link:
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---

    <div class="editable">
    <p>This is the demo editable first paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, in magnam placeat. Ex illo ipsa libero voluptatem necessitatibus modi fugit odit omnis. Sequi voluptatem mollitia voluptatum ipsum placeat, quaerat laudantium!</p>
    </div>

      {% for gallery in site.work %}
        <section class="gallery-cover {% if gallery.main_image_path %}has-cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>
          <div class="scrim {% if gallery.cover %}has-cover{% endif %}">
            <header class="gallery-header">
              <a href="{{ gallery.url }}"><h2 class="title">{{ gallery.title }}</h2></a>
            </header>
          </div>
      </section>
      {% endfor %}


