---
layout: home
carousel:
  - image:
    caption:
    link:
  - image:
    caption:
    link:
  - image:
    caption:
    link:
  - image:
    caption:
    link:
  - image:
    caption:
    link:
  - image:
    caption:
    link:
frontpage: false
description_markdown:
frontpagetitle:
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---

<div class="editable">
          <p>Welcome to the world of handmade paper. It's a surface for other media and also a remarkably versatile medium in itself. You can find our papers here online, and an ever-changing selection at our real-life shop in beautiful Berwick-upon-Tweed. We also run regular hand papermaking workshops and classes around the country.&nbsp;</p>
        </div>

    {% for section in site.pages %}

      {% if section.frontpage %}
        {% if section.main_image_path %}
          <section class="gallery-cover has-cover" style="background-image: url({{ section.main_image_path }});">
        {% else %}
          <section class="gallery-cover has-cover" style="background-image: url('/assets/header.jpg');">
        {% endif %}
          <a href="{{ section.url | prepend: site.baseurl }}">
            <div class="scrim has-cover">
            <article class="gallery">
              <header class="gallery-header">
                <h2 class="title">{{ section.frontpagetitle }}</h2>
              </header>
              {% if section.description_markdown %}
                <p>{{ section.description_markdown | markdownify }}<br />
                <span class="readmore">Read more <span>{{nextPost.title}} <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg></span>
                </span></p>
              {% endif %}
          </article>
          </div>
          </a>
        </section>

      {% endif %}

    {% endfor %}

<!-- now galleries -->

    {% for gallery in site.work %}
      <section class="gallery-cover {% if gallery.main_image_path %}has-cover{% endif %}" {% if gallery.main_image_path %}style="background-image: url({{ gallery.main_image_path | prepend: gallery.baseurl }});"{% endif %}>
        <a href="{{ gallery.url }}">
          <div class="scrim {% if gallery.main_image_path %}has-cover{% endif %}">
          <article class="gallery">
            <header class="gallery-header">
              <h2 class="title">{{ gallery.title }}</h2>
            </header>
            {% if gallery.homepage_markdown %}
              <p>{{ gallery.homepage_markdown | markdownify }}</p>
            {% endif %}
        </article>
        </div>
      </a>
    </section>
    {% endfor %}


</section>