---
layout: page
title: Tidekettle News
main_image_path: /uploads/img-2961.jpg
main_image_caption:
permalink: /news/
display_title: true
frontpage: false
description_markdown:
description: 'The latest news and events from Tidekettle Paper, Berwick-upon-Tweed'
frontpagetitle:
_options:
  layout:
    hidden: true
  image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: 'assets/images/:year'
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: 'assets/:year'
_comments:
  title: Page title
  description: SEO one paragraph description for web search. This won't appear in your page
  main_image_path: Image used to represent your page
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  display_title: Show page title
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
---

<section class="blog">

      {% for post in site.posts limit: 4 %}
        <a href="{{ post.url | prepend: site.baseurl }}"><h4>{{ post.title }}</h4></a>

        {% if post.main_image_path %}
          <figure class="featured--col">
            <a href="{{ post.url | prepend: site.baseurl }}">
            {% assign alt_text = post.title %}
            {% if post.image_caption %} {% assign alt_text = post.image_caption %} {% endif %}
            {% include img.html src=post.main_image_path width=200 alt=alt_text %}
            </a>
          </figure>
        {% endif %}

        {% if post.main_image_path %}<p class="with--feature">{% else %}</p><p>{% endif %}
        {{ post.content | strip_html | truncatewords: 50 }} <a href="{{ post.url | prepend: site.baseurl }}">read more</a></p>
        <div class="post-meta">
          <!-- <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div> -->
          <!-- Editor Link -->
          <a href="cloudcannon:collections/{{ post.path }}" class="editor-link">Edit post</a>
        </div>
        <p></p>

      {% endfor %}
  </section>

<div class="editable">
  <p>Berwick, 27 May 2021</p>
  <p>Our town is opening up again and we are open too! We are welcoming visitors at the shop (Tuesday - Saturday 10-4) and getting ready to start teaching here again. After joining the ranks of Zoom teachers with the wonderful <a href="https://www.instagram.com/a_beginners_/">Absolute Beginners</a>&nbsp;in April, my first face-to-face teaching in 18 months kicked off with a great 3D class making vessels at Morley College. Details of upcoming classes can be found on the Papermaking Classes page.</p>
  <p>Paper production has continued unabated and online shop orders gratefully received.</p>
  <p>Printmaker Sam Stokes (full disclosure: he's my son) has joined us and has got our little Adana letterpress up and running. He's also producing limited edition screen prints, which will soon be available online as well as in the shop.</p>
  <p>Regular studio updates, pictures and news are now on Instagram and Facebook at Lucy at Tidekettle Paper: click on the links top right to take you straight there. (they are public pages so you don't need a Facebook account to view them, only if you want to like, comment or share). I also post frequent updates on Twitter, so feel free to follow, link also above.</p>
  <p>You can join my mailing list via the contact page for email updates at decent intervals, though I'm rather behind in updating!</p>
  <p>Do get in touch any time using the contact page, Instagram or Facebook. We can arrange customised workshops for up to four people, adults or children - anything from an introduction to papermaking to more specialised areas. If you are an artist or student who wishes to incorporate handmade paper into a project, I would be happy to help. I also provide a &nbsp;reasonably-priced fibre processing service if you don't have access to a beater.</p>
  <h3>Collaborations, etc:</h3>
  <p>I have a little papermaking story on the&nbsp;<a href="http://www.morleycollege.ac.uk/news/2218_papermaking_me">Morley College website</a>!</p>
  <p><a href="http://perversionsofpaper.com/invitational-workshop/participants/">Perversions of Paper</a>, Invitational Symposium, June 20 2014, Birkbeck College, London</p>
  <p><a href="http://www.kagithane.bel.tr/guncel/haber_detail/EL-YAPIMI-KAGIDA-ULUSLAR-ARASI-ILGI/76/2659/0">Meeting the Mayor of Kagithane</a> in Istanbul with the late, great Oz Tugrul and his lovely family (sorry no Turkish g's/i's!)</p>
  <p>See our chairs at the <a href="http://www.saatchi-gallery.co.uk/schools/previous_on_art_prize_gallery.htm">Saatchi Gallery</a></p>
  <p>Check out my entry for <a href="http://www.arthousecoop.com/library?utf8=âœ“&amp;display_name=baxandall&amp;theme_id=66&amp;commit=Search&amp;country=&amp;city=&amp;province=&amp;state=">The Sketchbook Project 2011</a></p>
  <p>Working with <a href="http://fixedoxford.blogspot.co.uk/2011/12/as-of-late.html">young entrepreneurs</a></p>
  <p><b><i>Lucy is available to teach papermaking and book arts workshops for adults and children by arrangement. Please use the contact page to discuss your requirements.</i></b></p>
</div>
