---
layout: page
title: Tidekettle News
main_image_path: /uploads/img-2961.jpg
main_image_caption:
permalink: /news/
display_title: true
frontpage: false
description_markdown:
description: The latest news and events from Tidekettle Paper, Berwick-upon-Tweed
frontpagetitle:
_options:
  layout:
    hidden: true
  image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: assets/:year
_comments:
  title: Page title
  description: SEO one paragraph description for web search. This won't appear in your page
  main_image_path: Image used to represent your page
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  display_title: Show page title
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
---

<section class="blog">

      {% for post in site.posts limit: 4 %}
        <a href="{{ post.url | prepend: site.baseurl }}"><h4>{{ post.title }}</h4></a>

        {% if post.main_image_path %}
          <figure class="featured--col">
            <a href="{{ post.url | prepend: site.baseurl }}">
            {% assign alt_text = post.title %}
            {% if post.image_caption %} {% assign alt_text = post.image_caption %} {% endif %}
            {% include img.html src=post.main_image_path width=200 alt=alt_text %}
            </a>
          </figure>
        {% endif %}

        {% if post.main_image_path %}<p class="with--feature">{% else %}</p><p>{% endif %}
        {{ post.content | strip_html | truncatewords: 50 }} <a href="{{ post.url | prepend: site.baseurl }}">read more</a></p>
        <div class="post-meta">
          <!-- <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div> -->
          <!-- Editor Link -->
          <a href="cloudcannon:collections/{{ post.path }}" class="editor-link">Edit post</a>
        </div>
        <p></p>

      {% endfor %}
  </section>

<div class="editable">
  <p>22 June 2022</p>
  <p>A very happy midsummer to all!</p>
  <p>We are enjoying the looong summer evenings here in Berwick and feeling very fortunate to have the Northumberland coast on our doorstep.&nbsp;</p>
  <p>The shop is open Fridays (10-4) and Saturdays (11-4) at the moment, and at any other time by appointment - we hope to open again for more of the week when the big summer holidays start. Please don't be shy to call for an appointment if it suits as there is no extra pressure to buy!</p>
  <p>Our <a href="https://www.crowood.com/products/papermaking-by-lucy-baxandall?_pos=1&amp;_psq=papermaking&amp;_ss=e&amp;_v=1.0">new how-to papermaking book</a>&nbsp;published by Crowood Press in January and illustrated with photos by the wonderful <a href="https://www.sineadkempley.com/">Sin&eacute;ad Kempley</a>, is selling well and we are tremendously grateful for the positive feedback and support. It's available here on the website shop and on Bridge Street, as well as from the usual suspects.</p>
  <p>There are still a few places left on our next short course at West Dean College on 7-10 July - <a href="https://www.westdean.org.uk/study/short-courses/courses/slw11880-creative-papermaking">Creative Papermaking: Emboss, layer, cast</a>. The final project is a tunnel book made with your newly created papers and it's a whole lot of fun in a lovely setting.</p>
  <p>Papermaking classes at Morley College will be back in the Autumn, hurrah! These are all over one weekend and we'll start with an <a href="https://www.morleycollege.ac.uk/courses/course/introduction-to-papermaking/">introduction course</a> in October, followed by Fibre to Sketchbook and The Vessel later in the year, plus <strong>a brand new class exploring papermaking with natural dyes</strong>. The college is raising the minimum enrolment number for courses to run this year, so do sign up in good time if you are interested, to avoid disappointment.</p>
  <p>Regular website shoppers may notice a price increase on some items from today. I have always tried to keep prices as low and accessible as possible, but increasing costs are really starting to bite, as they are for everyone everywhere. Thank you for your understanding, and I hope you still find our unique paper good value for your hard-earned pennies.</p>
  <p>The most regular studio updates, pictures and news are now on Instagram, Facebook and Twitter at Lucy at Tidekettle Paper: click on the links top right to take you straight there.&nbsp;</p>
  <p>You can join my mailing list via the contact page for email updates at decent intervals, though I'm rather bad at producing newsletters - too busy making paper!</p>
  <p>Do get in touch any time using the contact page, Instagram or Facebook. We can arrange customised workshops for up to four people, adults or children - anything from an introduction to papermaking to more specialised areas. If you are an artist or student who wishes to incorporate handmade paper into a project, I would be happy to help. I also provide a &nbsp;reasonably-priced fibre processing service if you don't have access to a beater, do get in touch for details.</p>
  <h3>Collaborations, etc:</h3>
  <p><a href="http://perversionsofpaper.com/invitational-workshop/participants/">Perversions of Paper</a>, Invitational Symposium, June 20 2014, Birkbeck College, London</p>
  <p><a href="http://www.kagithane.bel.tr/guncel/haber_detail/EL-YAPIMI-KAGIDA-ULUSLAR-ARASI-ILGI/76/2659/0">Meeting the Mayor of Kagithane</a> in Istanbul with the late, great Oz Tugrul and his lovely family (sorry no Turkish g's/i's!)</p>
  <p>See our chairs at the <a href="http://www.saatchi-gallery.co.uk/schools/previous_on_art_prize_gallery.htm">Saatchi Gallery</a></p>
  <p>Check out my entry for <a href="http://www.arthousecoop.com/library?utf8=âœ“&amp;display_name=baxandall&amp;theme_id=66&amp;commit=Search&amp;country=&amp;city=&amp;province=&amp;state=">The Sketchbook Project 2011</a></p>
  <p>Working with <a href="http://fixedoxford.blogspot.co.uk/2011/12/as-of-late.html">young entrepreneurs</a></p>
  <p><b><i>Lucy is available to teach papermaking and book arts workshops for adults and children by arrangement. Please use the contact page to discuss your requirements.</i></b></p>
</div>
