---
layout: page
title: Shop
permalink: /products/
frontpage: true
description_markdown: Choose from a range of hand-made stationery, tabletop ware, papers and books
description: Buy paper, notecards and absorbent art from Berwick
frontpagetitle: Shop
main_image_path: /assets/images/IMG_9625-web.jpeg
main_image_caption:
_options:
  layout:
    hidden: true
  image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: assets/:year
_comments:
  title: Page title
  description: SEO one paragraph description for web search. This won't appear in your page
  main_image_path: Image used to represent your page
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  display_title: Show page title
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
---

<div class="editable">
      <p>A warm welcome to the Tidekettle online shop. We hope you'll find something here to enjoy yourself or to give as a gift. If you have any questions about the choices or would like to enquire about a custom order, please don't hesitate to contact us. <strong>Postage and packing will be added automatically for the UK. For international orders please send us a message via the contact page.</strong></p>
      <h4><strong>Papers</strong></h4>
      <p>The papers for sale here are limited editions, with the fibres harvested, cooked, beaten and the sheets handmade in small batches. This accounts for the 'lucky dip' element in the selection packs as our stock is always changing. They can be used for printmaking, collage, letter writing and making books. All are internally sized and most are inkjet printable at your own risk - single sheet feeding recommended.&nbsp; While making no archival claims, we pH test at each stage to ensure all paper is the right side of neutral. We use cotton, linen and abaca base pulps along with seasonal plant materials and other intriguing inclusions. Prices per sheet unless specified. Please contact us for custom orders, which include plantable seed papers.</p>
      <h4><strong>Stationery</strong></h4>
      <p>Handmade cards for all occasions. Practical notebooks for sketching and journals. Gift tags and cardmaking kits.</p>
      <h4><strong>Tabletop</strong></h4>
      <p>Absorbent art? Porous poetry? Cutting edge coasters? It's up to you what you use these for, but they'll certainly start conversations among your guests. All pieces are on cotton paper handmade in our studio, handprinted with our own text using the linocut or letterpress. Do get in touch through the contact page if you are interested in custom orders for special occasions.&nbsp;</p>
      <h4><strong>Framed Art and Books</strong></h4>
      <p>Artist's books and framed one-off pieces are added as they become available.</p>
    </div>

    <section class="gallery--list">

    {% for product in site.products %}

      <div class="gallery--box">

    	  <a href="{{ site.baseurl }}{{ product.url }}">
    	    {% include img.html src=product.image width=300 height=300 fit=crop alt=product.name %}

    	    <p>{{ product.name }}</p>
        </a>

        {% if product.category %}<p>Category: {{ product.category }}</p>{% endif %}

        <form class="cart" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" id="addCart">
          <fieldset>
            <p><strong>Price:</strong> &pound;{{ product.price_number }}</p>
            <input type="hidden" name="cmd" value="_cart" />
            <input type="hidden" name="add" value="1" />
            <input type="hidden" name="charset" value="utf-8" />
            <input type="hidden" name="business" value="{{ site.paypal_id }}" />
            <input type="hidden" name="lc" value="GB" />
            <input type="hidden" name="item_name" value="{{ product.name }}" />
            <input type="hidden" name="item_number" value="{{ product.sku }}" />
            <input type="hidden" name="amount" value="{{ product.price_number }}" />
            <input type="hidden" name="currency_code" value="GBP" />
            <input type="hidden" name="button_subtype" value="products" />
            <input type="hidden" name="shopping_url" value="{{ site.appurl[jekyll.environment]}}{{ page.url }}" />
            <input type="hidden" name="no_shipping" value="2" />
            <input type="hidden" name="bn" value="PP-ShopCartBF:Btn2_EN_addtocart.gif:NonHosted" />
            <input type="submit" value="Add to cart" class="paypal-add-item" />

          </fieldset>
        </form>


      </div>

    {% endfor %}

  </section>
