---
layout: products
title: Shop
permalink: /products/
frontpage: true
description_markdown: "Choose from a range of hand-made stationery, tabletop ware, papers and books"
frontpagetitle: Shop
main_image_path: /assets/shop.jpg
image_caption:
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
---
<div class="editable">

</div>
{% for product in site.products %}

  <div class="product gallery-box {% cycle 'alpha', '', 'last' %}">

	  <a class="" href="{{ site.baseurl }}{{ product.url }}">
	    {% include img.html src=product.image width=300 height=300 fit=crop alt=product.name %}

	    <p>{{ product.name }}</p>
	  </a>

	  <button
	  class="snipcart-add-item"
	  data-item-name="{{ product.name }}"
	  data-item-id="{{ product.sku }}"
	  data-item-image="{{ product.image }}"
	  data-item-url="{{ site.url }}{{ page.url }}"
	  data-item-price="{{ product.price }}">
	  Buy it for £{{ product.price }}
	  </button>

	</div>

{% endfor %}