---
layout: page
title: Shop
permalink: /shop/
display_title: false
main_image_path:
main_image_caption:
frontpage: false
description_markdown:
description: Buy things from the Tidekettle Paper shop, Berwick
frontpagetitle:
_options:
  layout:
    hidden: true
  image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: assets/images/:year
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: assets/:year
_comments:
  title: Page title
  description: SEO one paragraph description for web search. This won't appear in your page
  main_image_path: Image used to represent your page
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  display_title: Show page title
  frontpagetitle: Alternative title for home page use
  images: Add and edit images here
---

<div class="gallery">

{% for gallery in site.shop %}

     <div class="gallery--box{% cycle '', ' last' %}">

          <a href="{{ gallery.permalink }}" title="{{ gallery.title }}">
	           {% include img.html src=gallery.main_image_path max-w=800 max-h=400 fit=crop alt=gallery.title %}
	          <p>{{ gallery.title }}</p>
          </a>

     </div>

{% endfor %}
</div>
