---
layout: page
title: "Work"
permalink: /work/
---

<div class="editable">
    <p>This is the demo editable first paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, in magnam placeat. Ex illo ipsa libero voluptatem necessitatibus modi fugit odit omnis. Sequi voluptatem mollitia voluptatum ipsum placeat, quaerat laudantium!</p>
</div>
<div class="gallery">

{% for gallery in site.work %}

     <div class="">

          <a href="{{ gallery.permalink }}" title="{{ gallery.title }}">
	           {% include img.html src=gallery.main_image_path max-w=1200 max-h=400 fit=clip alt=gallery.title %}
	          <p>{{ gallery.title }}</p>
          </a>

     </div>

{% endfor %}
</div>
