<header class="navigation" role="banner">

  <div class="banner">

    <a href="{{ site.baseurl }}/" class="logo">
      <h1>{{ site.title }}</h1>
      <div class="subtitle">{{ site.subtitle }}</div>
    </a>

  </div>

  <div class="navigation--wrapper">

    <a href="javascript:void(0)" class="navigation--menu-button" id="js--mobile-menu">
      <span class="menu--title">MENU</span> <svg class="icon icon--menu"><use xlink:href="#icon-reorder" /></svg>
    </a>

    <nav role="navigation">

      <ul id="js--navigation-menu" class="navigation--menu show">

        {% for link in site.data.nav %}


          {% unless link.href == "/" and page.url == "/" %}

          <li class="nav--link{% if active %} active{% endif %}">
            <a href="{{ link.href | prepend: site.baseurl }}">{{ link.title }}</a>
          </li>

         {% endunless %}

        {% endfor %}

      </ul>

      {% if site.show_social_top %}

        <ul class="navigation--social-menu">
          {% for social in site.social %}

            {% if social.url != null %}

            <li class="nav--link nav--social-media-link">
              <a href="{{ social.url }}" title="{{ social.desc }}">
               <svg class="icon {{ social.icon }}" role="img"><title>{{ social.title }}</title><use xlink:href="#{{ social.icon }}" /></svg>
              </a>
            </li>
            {% endif %}

          {% endfor %}

      {% endif %}

        {% if site.paypal_id %}
          <li class="nav-link">
            <form class="cart" name="cart" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_cart" />
              <input type="hidden" name="business" value="{{ site.paypal_id }}" />
              <input type="hidden" name="display" value="1" />
              <input type="submit" value="View cart" class="paypal-add-item" />
            </form>
          </li>
        {% endif %}
        {% if site.snipcart_api_key %}
          <li class="nav-link">
            <a href="#" class="snipcart-checkout">
            <svg class="icon icon-cart"><use xlink:href="#icon-cart" /></svg>
            View cart (<span class="snipcart-total-items">0</span>)
            </a>
          </li>
        {% endif %}
      </ul>

    </nav>
  </div>
</header>