
@font-face {
  font-family: 'VeteranTypewriter';
  src: url('VeteranTypewriter.eot?#iefix') format('embedded-opentype'),  url('VeteranTypewriter.woff') format('woff'), url('VeteranTypewriter.ttf')  format('truetype'), url('VeteranTypewriter.svg#VeteranTypewriter') format('svg');
  font-weight: normal;
  font-style: normal;
}
