---
layout: default
---

<header id="content-header">
  <section id="page-title">
    <h2>{{ page.title }}</h2>
  </section>
</header>

<article id="content">
  <section class="main-content">
    {% if page.description_markdown %}{{ page.description_markdown | markdownify }}{% endif %}
  </section>

  {% if page.images[0].image_path %}
  <section class="gallery">
    {% for image in page.images %}
      {% if image.image_path %}
      <div class="gallery-box {% cycle 'alpha', '', 'last' %}">
        <a href="{% include imgpath.html src=image.image_path max-w=1280 %}" class="galleryphoto" data-lightbox="gallery" data-title="{{ image.image_title }} - {{ image.image_description }}">
          {% include img.html src=image.image_path width=200 fit=clip alt=image.image_description %}
        </a>
        {% if page.display_title %}
          <p>{{ image.image_title }}</p>
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </section>
  {% endif %}



</article>
